---
layout: archive
---

<script id="dsq-count-scr" src="//uienw00-github-io.disqus.com/count.js" async></script>
<div class="home">

    <h1 class="page-heading">Posts</h1>
    
    {{ content }}
  
    <ul class="post-list">
    
      {% for post in site.posts %}
        <li>
          <span class="archive__subtitle">{{ post.date }} <a href="{{ post.url | relative_url }}#disqus_thread">Comments</a> </span>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> 
          </h2>
  
      
  
        </li>
      {% endfor %}
    </ul>
  </div>