---
layout: archive
---

<script id="dsq-count-scr" src="//uienw00-github-io.disqus.com/count.js" async></script>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

<ul class="post-list">
  
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} <a href="https://uienw00.github.io/{{ post.url | relative_url }}#disqus_thread">Comments</a></span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> 
      </h2>
    </li>
  {% endfor %}
</ul>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
