--- 
layout: archive
comments: false
permalink: /algorithm/
title: "Algorithm"

sidebar:
  nav: "algorithm"
---
<article class="archive__item">
{% for post in site.posts %}
{% if post.tags contains "algorithm" %}
<h2 class="archive__item-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
<p class="page__meta">
  {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url | relative_url }}#disqus_thread">Comments</a>
</p>
<p class="archive__item-excerpt">{{ post.excerpt }}</p>
{% endif %}
{% endfor %}
</article>