--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
html {
    font-size: 15px;
}

div.highlighter-rouge, figure.highlight {
    font-size: 0.9em;
}

.nav__sub-title {
    font-size: 0.9em;
}

nav ul li, nav ol li {
    margin-bottom: 5px;
}

.sidebar p, .sidebar li {
    font-size: 0.9em;
}

.archive__item-excerpt {
    font-size: 1em;
}

table{
    font-size: 0.9em;
}

li>code{
    font-size: 1.0em;
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.35em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}